.borderek {
  position: relative;
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}


.borderek::before {
  content: '';
  position: absolute;
  inset: -200px; /* robi “glow” poza ekran */

  background: linear-gradient(
    120deg,
    rgb(30,30,30),
    rgb(30,30,30),
    rgb(120,150,120),
    rgb(120,150,120),
    rgb(30,30,30)
  );

  background-size: 300%;
  animation: border 40s linear infinite;

  filter: blur(60px);
  opacity: 0.35;

  z-index: 0;
}

.borderek::after {
  content: '';
  position: absolute;
  inset: 0;

  background: radial-gradient(
    rgba(255,255,255,0.04) 1px,
    transparent 1px
  );

  background-size: 40px 40px;

  opacity: 0.2;

  z-index: 0;
}

@keyframes border {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}