@media only screen and (max-width: 900px) {
    h1 {
        font-size: 30px;
    }

    main {
        max-width: 100%;
        width: 100%;
        font-size:9px;
        word-wrap: break-word;

    }
    #border-style {
      max-width: 100%;
      width: 80%;
      border-left: 6px solid rgb(26, 26, 26); 
      border-right: 6px solid rgb(26, 26, 26); 
      
    }
    #menu {
      max-width: 100%;
      width: 20%;
      margin-right: 5%;
  }

  .menu-button {
      width: 100%;
      font-size: 12px;
      margin-left: 10%;
  }
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
#koto {
    margin-top: 20px;
    float: left;
    left: 70%;
    margin-top: -10%;
    margin-left:68%;
    border-image-source: round;
  }
  #dogo {
    float: left;
    left: 51%;
    width: 20%;
    height: 25%;
  }